##########################
## NODE MODULES
##########################
node_modules
*node_modules/
##########################
## OS X
##########################
.DS_Store
**/.DS_Store

##########################
## VSCode
##########################
.vscode